extends ../layouts/layout

block content
  .row
    .col-quarter
    .col-half
      div!= user.username
      div!= user.email
      div
        img(src="#{user.facebook.photo}?type=large")
    .col-quarter
