extends ../layouts/layout

block content
  .row
    .col-quarter
    .col-half.card
      form(role='form', action="/signup",method="post")
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='text', name="username", placeholder='Enter Username')
        input(type='email', name="email", placeholder='Email Address')
        input(type='password', name="password", placeholder='Password')
        input(type='password', name="confirmPassword", placeholder='Confirm Password')
        button(class="btn", type='submit') Submit
        a(class='btn btn-facebook' href='/auth/facebook') Login with Facebook
    .col-quarter
